body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  /* background-color: #e5e5e5; */
}

footer {
  background-color: rgb(230, 222, 222);
  margin: 0px;
  padding: 1%;
  text-align: center;
  min-height: 10vh;
  color: rgb(77, 76, 76);
  font-size: 0.95rem;
}

input {
  height: 30px;
  font-size: 1.25rem;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

select {
  height: 42px;
  font-size: 1.25rem;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.25);
}

label {
  font-size: 0.95rem;
  margin-bottom: 5px;
  font-weight: bold;
}

.main-body {
  display: flex;
  min-height: 85vh;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-wrap {
  width: 100%;
  height: 350px;
  display: inline-block;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75),
      rgba(255, 255, 255, 0)
    ),
    url("http://www.ljmu.ac.uk/~/media/ljmu/faculty_scs/pharmacy_and_biomolecular/research/banner/pharmacy_banner_pills2_1320x290.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

.banner-title {
  text-align: center;
  font-size: 2rem;
}

.web-name {
  text-align: center;
  font-size: 6rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

.login-box {
  background-color: rgb(230 222 222);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  height: 60%;
  margin: 50px 20px;
  justify-content: center;
  justify-content: space-around;
  border-color: #d4d4d4;
  border-style: solid;
  border-width: 2px;
  color: rgb(77, 76, 76);
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.forgot-password-link {
  align-self: center;
  margin: 10px;
}

.btn-primary {
  align-self: center;
  padding: 10px 20px;
  background-color: #618bcf;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #4f74af;
}

.logged-in-buttons {
  display: flex;
  justify-content: space-between;
  width: 97%;
  align-items: center;
  height: 30px;
  margin: 5px;
}

.edit-signout-button {
  width: 25px;
  margin-left: 35px;
  border: none;
}

.body-wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgb(223, 223, 223);
  margin-bottom: 30px;
}

.bodyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(50% - 50px);
  font-size: 10px;
  margin: 20px;
  background-color: #efefef;
}

.resources-box {
  background-color: #c1e7b5;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.resources-box:hover {
  background-color: #a4da93;
}
.resource-pop-up {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.resource-box-line {
  width: 75%;
  min-height: 5px;
  background-color: #c1e7b5;
  margin-bottom: 30px;
}
a:link {
  color: rgb(73, 73, 73);
}
a:visited {
  color: rgb(73, 73, 73);
}
a:hover {
  color: black;
  font-weight: bold;
}
.resource-list-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  background-color: #e4e4e4;
  width: 92%;
  padding: 20px;
  margin: 10px;
}

.identify-box {
  background-color: #bbc5ee;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.identify-box:hover {
  background-color: #a3aedd;
}

.identify-box-line {
  width: 75%;
  min-height: 5px;
  background-color: #bbc5ee;
  margin-bottom: 30px;
}
.med-list-find-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #e4e4e4;
  width: 92%;
  padding: 20px;
  margin: 10px;
}
.current-meds-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: space-between;
  border-style: solid;
  border-width: 1px;
  border-color: #cccbcb;
  background-color: #ededed;
  margin: 10px 10px;
}
.space-break {
  width: 60vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.space-line {
  width: 35%;
  height: 2px;
  background-color: #cccbcb;
  margin: 0 10px;
}
.identify-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4%;
  width: 100%;
}
.identify-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.returned-med-card {
  max-width: 220px;
  margin: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccbcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.search-disclaimer {
  font-size: 15px;
}

.interaction-box {
  background-color: #e9d3b5;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.interaction-box:hover {
  background-color: #f0c78f;
}
.interaction-pop-up {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.interaction-box-line {
  width: 75%;
  min-height: 5px;
  background-color: #e9d3b5;
  margin-bottom: 30px;
}
.med-list-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e4e4e4;
  width: 92%;
  padding: 20px;
  margin: 10px;
}
.interaction-list-box {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #e4e4e4;
  width: 92%;
  padding: 20px;
  margin: 10px;
}

.my-history-box {
  background-color: #f1becf;
  transition-property: background-color;
  transition-duration: 0.5s;
}
.my-history-box:hover {
  background-color: #f1a6bf;
}
.my-history-pop-up {
  margin-top: 35px;
  width: 100%;
}
.my-history-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.my-history-box-line {
  width: 75%;
  min-height: 5px;
  background-color: #f1becf;
  margin-bottom: 30px;
}
.my-history-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;
}
.my-history-block-sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2%;
  width: 100%;
}
.history-list-box {
  display: flex;
  flex-direction: column;
  background-color: #e4e4e4;
  width: 92%;
  padding: 20px;
  margin: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.ec-info {
  font-size: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.submit-button {
  margin: 20px 45%;
  padding: 10px 20px;
  background-color: #618bcf;
  color: white;
  font-weight: bold;
  border: none;
  text-transform: uppercase;
}
.submit-button:hover {
  background-color: #4f74af;
}

.box-image {
  height: 15vh;
}

.body-box-content {
  width: 35vw;
  min-width: 300px;
  padding: 5% 0px;
  text-align: center;
}

.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 73%;
  margin: 0 auto;
  height: 70%;
  max-height: 70vh;
  margin-top: calc(100vh - 85vh - 20px);
  padding: 20px;
  overflow: auto;
  border-style: solid;
  border-width: 2px;
  border-color: #d0d0d0;
  border-radius: 10px;
  align-items: center;
  background-color: #f2f2f2;
  box-shadow: 0 0 14px black;
  font-size: 20px;
}

.close-icon {
  content: "x";
  cursor: pointer;
  position: fixed;
  right: calc(15% - 45px);
  top: calc(100vh - 85vh - 33px);
  background: #ededed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 1px solid #999;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.close-icon-img {
  width: 32px;
}

.delete_button {
  cursor: pointer;
  line-height: 20px;
  text-align: center;
  border: none;
  font-size: 20px;
  height: 15px;
  width: 15px;
  padding: 0 10px;
}

.profile-page-body {
  display: flex;
  min-height: 50vh;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(223, 223, 223);
  align-items: flex-start;
  width: 100%;
  margin-bottom: 30px;
}
.profile-page-section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 75%;
  margin-bottom: 40px;
}
.profile-space-break {
  width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  height: 50px;
}
.profile-space-line {
  width: 35%;
  height: 1px;
  background-color: #cac9c9;
  margin: 0 10px;
}
.profile-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}
.profile-box-line {
  width: 75%;
  min-height: 5px;
  background-color: #d0d0d0;
  margin-bottom: 30px;
}
.profile-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.med-images {
  max-width: 200px;
  max-height: 200px;
}

.found-meds-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

h5 {
  margin: 10px;
  text-transform: capitalize;
}

p {
  margin: 15px;
}

svg {
  width: 6em;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

circle {
  fill: none;
  stroke: #a6d0e8;
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dashoffset: -125px;
  }
}

@media only screen and (max-width: 1367px) and (orientation: landscape) {
  .main-body {
    min-height: 88vh;
  }
}

@media only screen and (max-width: 1367px) and (orientation: portrait) {
  .bodyBox {
    margin: 20px 0;
    width: 100%;
  }
  .main-body {
    min-height: 88vh;
  }
  .head-wrap {
    height: 19vh;
    background-size: auto;
  }
  .body-wrap {
    flex-direction: column;
  }

  .identify-form {
    align-items: flex-start;
    flex-direction: column;
  }
  .found-meds-list {
    flex-direction: column;
    align-items: center;
  }

  .my-history-body {
    padding-left: 0;
    flex-direction: column;
  }
  .my-history-sections {
    width: 100%;
  }
  .ec-info {
    flex-direction: column;
    align-items: center;
  }

  .submit-button {
    margin: 20px 40%;
  }

  .edit-signout-button {
    margin: 0 0 0 15px;
    justify-content: space-evenly;
  }

  .profile-page-body {
    flex-direction: column;
  }
  .profile-page-section {
    width: 90%;
  }
  .profile-form {
    flex-direction: column;
  }
  .login-box {
    width: 90%;
  }

  .current-meds-list {
    flex-wrap: nowrap;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
  .web-name {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }
  .resource-list-box {
    align-items: flex-start;
  }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
  .web-name {
    font-size: 4rem;
    margin-top: 2rem;
  }
  .head-wrap {
    height: auto;
  }
}
